@font-face {
  font-family: 'space-explorer';
  src: url("SPACE\ EXPLORER.ttf");
}

body{
background-image: url(hacker.jpg);
background-repeat: no-repeat;
background-size: cover;
}
u{
  color: gray ;
}
.container{
  height: 500px;
  width: 550px;
  background-color: rgb(17, 23, 43, 0.5);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px white;
  text-align: center;
}

h1 {
  color: white;
  margin: 40px 0 10px 0;
  font-size: 40px;
  font-family: 'space-explorer';
  
}

h2 {
  margin: 0px 0 10px 0;
  font-family: 'space-explorer';
  font-size: 10px;
  color: wheat;
}

#generatePassword {
  width: 191px;
  height: 42px;
  margin: 51px auto 0px auto ; 
  background-color: #1c295b;
  border: none;
  border-radius: 10px;
  font-family: 'space-explorer';
  font-size: 10px;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px black ;
  color: white;
}
hr{
  width: 435px;
  color: #2F3E53;
}
.passwordContainer{
  width: 446px;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}

#firstPasswordContainer{
  width: 211px;
  height: 50px;
  background-color: rgb(39, 53, 73, 0.50);
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: 0 0 3px white;
}

#secondPasswordContainer{
  width: 211px;
  height: 50px;
  background-color: rgb(39, 53, 73, 0.50);
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: 0 0 3px white;
}

#reset {
  width: 191px;
  height: 42px;
  background-color: #1c295b;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'space-explorer';
  font-size: 10px;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px black ;
  color: white;
}


